@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');
*{
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 4px;
    background-color: rgb(41, 41, 41);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

mark{background-color: rgb(116, 116, 91);
}

sup{background-color: rgb(116, 116, 91);
}

.btn-1 {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: auto;
    outline: none;
    border: 3px solid black;
    position: relative;
    z-index: 1;
}

.btn-1:hover{
    color: white;
    cursor: pointer;
}

.btn-1:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}

.btn-1:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
}
title{
    text-align: top right;
}
header{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 20px;
    word-spacing: 10px;
    text-shadow: 2px 2px white;
}

h2{
    text-shadow: 5px 5px 10px white;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

p{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
